# VPN ProtonVPN WireGuard
WIREGUARD_ADDRESSES=10.x.x.x/32
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key

# Homarr
SECRET_ENCRYPTION_KEY=your_64_char_hex_key

# API Keys
SONARR_API_KEY=your_sonarr_api_key
RADARR_API_KEY=your_radarr_api_key
PROWLARR_API_KEY=your_prowlarr_api_key
JELLYFIN_API_KEY=your_jellyfin_api_key

# AdGuard
ADGUARD_USERNAME=your_adguard_username
ADGUARD_PASSWORD=your_adguard_password

# qBittorrent
QBIT_USERNAME=your_qbit_username
QBIT_PASSWORD=your_qbit_password
